div{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg4VseOE-u4z1Xe6AajUQOty7wuKJE3Wq5Iw&s);
    background-repeat: no-repeat;
    background-size: 80% 200% ;
    color:brown;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
